<header>
  <img
    src="assets/img/profile.jpeg"
    alt="Mubashir Hussain - Full Stack Web Developer"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Mubashir Hussain</h1>
</header>

<aside>
  <div class="container">
    <p>🚀 Software Engineer | Angular Developer | Backend Developer PHP | Laravel Developer 🚀 </p>
    <p>Mubashir Husain</p>
    <p>
      Crafting dynamic web experiences with Laravel  and Angular ✨. I bring the backend power ⚙️ and frontend finesse   to build beautiful and functional applications. Let's collaborate!
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/mubashirhussainkhadim/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=+923228430133"
            target="_blank"
          >
            <strong>Leave a Messafe:</strong>
            <p>WhatsApp: +923228430133</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Mubashirhussainkhadim@gmail.com"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:mubashirhussainkhadim@gmail.com" target="_blank">
            <strong>Email me:</strong>
            <p>mubashirhussainkhadim&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
